<!DOCTYPE HTML>
<html>
	<head>
		<include file="Public/head"/>
	</head>
	<body>
		<!-- 页面结构 -->
		<section id="container" class="">
			<!-- 页面头部开始 -->
			<include file="Public/header"/>
			<!-- 页面头部结束 -->
			<!-- 左侧菜单栏开始 -->
			<div style="float:left">
				<include file="Public/aside"/>
			</div>
			<!-- 左侧菜单栏结束 -->
			<!-- 正文开始 -->
			<div class="" id="ad-iframe" style="float:right;">
        		<iframe class="J_iframe" name="mainFrame"  src="{:U('System/Index/start')}" frameborder="0" id='iframepage' onLoad="iFrameHeight()" seamless></iframe> 
    		</div>
			<!-- 正文结束 -->
		</section>
		<!-- 底部开始 -->
		
		<!-- 底部结束 -->

		    <!-- js placed at the end of the document so the pages load faster -->
    <script src="__PUBLIC__/System/Base/js/jquery.js"></script>
    <script src="__PUBLIC__/System/Base/js/jquery-1.8.3.min.js"></script>
    <script src="__PUBLIC__/System/Base/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/System/Base/js/jquery.scrollTo.min.js"></script>
    <script src="__PUBLIC__/System/Base/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="__PUBLIC__/System/Base/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="__PUBLIC__/System/Base/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="__PUBLIC__/System/Base/js/owl.carousel.js" ></script>
    <script src="__PUBLIC__/System/Base/js/jquery.customSelect.min.js" ></script>

    <!--common script for all pages-->
    <script src="__PUBLIC__/System/Base/js/common-scripts.js"></script>

		<script>

		  //owl carousel

		  	$(document).ready(function() {
		      	$("#owl-demo").owlCarousel({
		          	navigation : true,
		          	slideSpeed : 300,
		          	paginationSpeed : 400,
		          	singleItem : true
		      	});
		  	});

		  //custom select box

		  	$(function(){
		      	$('select.styled').customSelect();
		  	});
			//iframe 定位，by george
			function iFrameHeight() 
			{   
				var ifm= document.getElementById("iframepage");   
				var divfm = document.getElementById('ad-iframe');

				var sidebarWidth  = document.getElementById('sidebar');
				var headTopHeight = document.getElementById('topheader');
				var iFrameH = window.screen.availHeight;
				var iFrameW = window.screen.availWidth;
				ifm.height = iFrameH-headTopHeight.offsetHeight;
				ifm.width  = iFrameW;
   
			}   

			//左侧栏定位 by George
		    $(document).ready(function(){
		        $('.sub-menu ul>li').on('click',function(){
		                $(this).addClass('active');
		                $(this).parent().parent().addClass('active');
		                $(this).siblings().removeClass('active');
		            });

		        $('li.sub-menu').on('click',function(){
		        	$(this).addClass('active');
		        	$(this).siblings().removeClass('active');
		        	$(this).siblings().find('ul.sub li').removeClass('active');
		        });
		    });
		</script>
	</body>
</html>

