<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="active">
                <a class="" href="{:U('System/Index/index')}" target="mainFrame">
                    <i class="icon-dashboard"></i>
                    <span>系统首页</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-book"></i>
                    <span>常用UI模板</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="{:U('System/Template/font')}" target="mainFrame">排版字体</a></li>
                    <li><a class="" href="{:U('System/Template/icon')}" target="mainFrame">常用图标</a></li>
                    <li><a class="" href="{:U('System/Template/form')}" target="mainFrame">普通表单</a></li>
                    <li><a class="" href="{:U('System/Template/formAdvanced')}" target="mainFrame">高级表单</a></li>
                    <li><a class="" href="{:U('System/Template/table')}" target="mainFrame">表格模板</a></li>
                    <li><a class="" href="{:U('System/Template/ui')}" target="mainFrame">交互元素</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-cogs"></i>
                    <span>公共类演示</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="{:U('System/ListDemo/index')}" target="mainFrame">列表页模板</a></li>
                    <li><a class="" href="calendar.html">文件图片上传</a></li>
                    <li><a class="" href="charts.html">统计图表类</a></li>
                    <li><a class="" href="charts.html">RBAC权限</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>