<extend name="Base/common"/>
<block name="main">
  <!-- 正文开始 -->
    <div class="row">
        <div class="col-lg-6">
            <section class="panel">
                <header class="panel-heading">
                    字体
                </header>
                <div class="panel-body">
                    <h1>h1. Bootstrap heading</h1>
                    <h2>h2. Bootstrap heading</h2>
                    <h3>h3. Bootstrap heading</h3>
                    <h4>h4. Bootstrap heading</h4>
                    <h5>h5. Bootstrap heading</h5>
                    <h6>h6. Bootstrap heading</h6>
                </div>
            </section>

        </div>

      <div class="col-lg-6">
          <section class="panel">
            <header class="panel-heading">
                段落
            </header>
            <div class="panel-body">
                <p class="lead">这是p标签的lead类</p>
                <p>这是p段落这是p段落这是p段落这是p段落这是p段落这是p段落这是p段落这是p段落这是p段落</p>

                <strong>加粗字体</strong><br /> 

                <em>斜体</em>

                <small>小号字体</small>

                <p class="text-left">左对齐</p>
                <p class="text-center">居中显示</p>
                <p class="text-right">右对齐</p>
                <p class="text-justify">Justified text.</p>
                <p class="text-nowrap">No wrap text.</p>

                <blockquote>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </blockquote>
            </div>
          </section>
      </div>
    </div>
    
    
    <div class="row">
        <div class="col-lg-12">
            <!--main content start-->
            
              <div class="row">
                  <div class="col-lg-12"> <p>Base on Bootstrap grid system.</div>
                  <div class="col-lg-12">
                      <section class="panel">
                        <div class="panel-body">col-lg-12</div>
                      </section>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                      <section class="panel">
                          <div class="panel-body">col-lg-6</div>
                      </section>
                  </div>
                  <div class="col-lg-6">
                      <section class="panel">
                          <div class="panel-body">col-lg-6</div>
                      </section>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-4">
                      <section class="panel">
                          <div class="panel-body">col-lg-4</div>
                      </section>
                  </div>
                  <div class="col-lg-4">
                      <section class="panel">
                          <div class="panel-body">col-lg-4</div>
                      </section>
                  </div>
                  <div class="col-lg-4">
                      <section class="panel">
                          <div class="panel-body">col-lg-4</div>
                      </section>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-3">
                      <section class="panel">
                          <div class="panel-body">col-lg-3</div>
                      </section>
                  </div>
                  <div class="col-lg-3">
                      <section class="panel">
                          <div class="panel-body">col-lg-3</div>
                      </section>
                  </div>
                  <div class="col-lg-3">
                      <section class="panel">
                          <div class="panel-body">col-lg-3</div>
                      </section>
                  </div>
                  <div class="col-lg-3">
                      <section class="panel">
                          <div class="panel-body">col-lg-3</div>
                      </section>
                  </div>
              </div>

              <div class="row">
                  <div class="col-lg-2">
                      <section class="panel">
                          <div class="panel-body">col-lg-2</div>
                      </section>
                  </div>
                  <div class="col-lg-2">
                      <section class="panel">
                          <div class="panel-body">col-lg-2</div>
                      </section>
                  </div>
                  <div class="col-lg-2">
                      <section class="panel">
                          <div class="panel-body">col-lg-2</div>
                      </section>
                  </div>
                  <div class="col-lg-2">
                      <section class="panel">
                          <div class="panel-body">col-lg-2</div>
                      </section>
                  </div>
                  <div class="col-lg-2">
                      <section class="panel">
                          <div class="panel-body">col-lg-2</div>
                      </section>
                  </div>
                  <div class="col-lg-2">
                      <section class="panel">
                          <div class="panel-body">col-lg-2</div>
                      </section>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12"> <p>Mobile, tablet, and desktop</p> </div>
              </div>
              <div class="row">
                  <div class="col-lg-4">
                      <div class="row">
                          <div class="col-xs-6">
                              <section class="panel">
                                  <div class="panel-body">col-xs-6</div>
                              </section>
                          </div>
                          <div class="col-xs-6">
                              <section class="panel">
                                  <div class="panel-body">col-xs-6</div>
                              </section>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-8">
                      <section class="panel">
                          <div class="panel-body">col-lg-8</div>
                      </section>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-sm-6">
                              <section class="panel">
                                  <div class="panel-body">col-sm-6</div>
                              </section>
                          </div>
                          <div class="col-sm-6">
                              <section class="panel">
                                  <div class="panel-body">col-sm-6</div>
                              </section>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <section class="panel">
                          <div class="panel-body">col-lg-6</div>
                      </section>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-8">
                      <div class="row">
                          <div class="col-md-6">
                              <section class="panel">
                                  <div class="panel-body">col-md-6</div>
                              </section>
                          </div>
                          <div class="col-md-6">
                              <section class="panel">
                                  <div class="panel-body">col-md-6</div>
                              </section>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <section class="panel">
                          <div class="panel-body">col-lg-4</div>
                      </section>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <section class="panel">
                          <div class="panel-body">col-sm-6</div>
                      </section>
                  </div>
                  <div class="col-sm-6">
                      <section class="panel">
                          <div class="panel-body">col-sm-6</div>
                      </section>
                  </div>
              </div>
            <!--main content end-->
        </div>
    </div>
    
  <!-- 正文结束 -->
</block>