<extend name="Base/common"/>
<block name="main">
  <!-- 正文开始 -->
    <div class="row">
        <div class="col-lg-6">
            <section class="panel">
                <header class="panel-heading">
                    弹出框元素
                </header>
                <section class="panel">
                      <div class="panel-body">
                          <a href="#myModal" data-toggle="modal" class="btn btn-xs btn-success">
                              Form in Modal
                          </a>
                          <a href="#myModal-1" data-toggle="modal" class="btn btn-xs btn-warning">
                              Form in Modal 2
                          </a>
                          <a href="#myModal-2" data-toggle="modal" class="btn btn-xs btn-danger">
                              Form in Modal 3
                          </a>

                          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                          <h4 class="modal-title">Form Tittle</h4>
                                      </div>
                                      <div class="modal-body">

                                          <form role="form">
                                              <div class="form-group">
                                                  <label for="exampleInputEmail1">Email address</label>
                                                  <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
                                              </div>
                                              <div class="form-group">
                                                  <label for="exampleInputPassword1">Password</label>
                                                  <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
                                              </div>
                                              <div class="form-group">
                                                  <label for="exampleInputFile">File input</label>
                                                  <input type="file" id="exampleInputFile3">
                                                  <p class="help-block">Example block-level help text here.</p>
                                              </div>
                                              <div class="checkbox">
                                                  <label>
                                                      <input type="checkbox"> Check me out
                                                  </label>
                                              </div>
                                              <button type="submit" class="btn btn-default">Submit</button>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal-1" class="modal fade">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                          <h4 class="modal-title">Form Tittle</h4>
                                      </div>
                                      <div class="modal-body">

                                          <form class="form-horizontal" role="form">
                                              <div class="form-group">
                                                  <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
                                                  <div class="col-lg-10">
                                                      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
                                                  <div class="col-lg-10">
                                                      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <div class="col-lg-offset-2 col-lg-10">
                                                      <div class="checkbox">
                                                          <label>
                                                              <input type="checkbox"> Remember me
                                                          </label>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <div class="col-lg-offset-2 col-lg-10">
                                                      <button type="submit" class="btn btn-default">Sign in</button>
                                                  </div>
                                              </div>
                                          </form>

                                      </div>

                                  </div>
                              </div>
                          </div>
                          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal-2" class="modal fade">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                          <h4 class="modal-title">Form Tittle</h4>
                                      </div>
                                      <div class="modal-body">
                                          <form class="form-inline" role="form">
                                              <div class="form-group">
                                                  <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                                  <input type="email" class="form-control sm-input" id="exampleInputEmail5" placeholder="Enter email">
                                              </div>
                                              <div class="form-group">
                                                  <label class="sr-only" for="exampleInputPassword2">Password</label>
                                                  <input type="password" class="form-control sm-input" id="exampleInputPassword5" placeholder="Password">
                                              </div>
                                              <div class="checkbox">
                                                  <label>
                                                      <input type="checkbox"> Remember me
                                                  </label>
                                              </div>
                                              <button type="submit" class="btn btn-default">Sign in</button>
                                          </form>

                                      </div>

                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="panel-body">
                          <a class="btn btn-success" data-toggle="modal" href="#myModal">
                              Dialog
                          </a>
                          <a class="btn btn-warning" data-toggle="modal" href="#myModal2">
                              Confirm
                          </a>
                          <a class="btn btn-danger" data-toggle="modal" href="#myModal3">
                              Alert !
                          </a>
                          <!-- Modal -->
                          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                          <h4 class="modal-title">Modal Tittle</h4>
                                      </div>
                                      <div class="modal-body">

                                          Body goes here...

                                      </div>
                                      <div class="modal-footer">
                                          <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                                          <button class="btn btn-success" type="button">Save changes</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- modal -->
                          <!-- Modal -->
                          <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                          <h4 class="modal-title">Modal Tittle</h4>
                                      </div>
                                      <div class="modal-body">

                                          Body goes here...

                                      </div>
                                      <div class="modal-footer">
                                          <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                                          <button class="btn btn-warning" type="button"> Confirm</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- modal -->
                          <!-- Modal -->
                          <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                          <h4 class="modal-title">Modal Tittle</h4>
                                      </div>
                                      <div class="modal-body">

                                          Body goes here...

                                      </div>
                                      <div class="modal-footer">
                                          <button class="btn btn-danger" type="button"> Ok</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- modal -->
                      </div>
                </section>
            </section>
        </div>

        <div class="col-sm-6">
            <section class="panel">
              <header class="panel-heading">
                  常用按钮
              </header>
              <div class="panel-body">
                  <button type="button" class="btn btn-default">Default</button>
                  <button type="button" class="btn btn-primary">Primary</button>
                  <button type="button" class="btn btn-success">Success</button>
                  <button type="button" class="btn btn-info">Info</button>
                  <button type="button" class="btn btn-warning">Warning</button>
                  <button type="button" class="btn btn-danger">Danger</button>
              </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <!--notification start-->
            <section class="panel">
                <header class="panel-heading">
                  可关闭提示框
                </header>
                <div class="panel-body">
                  <div class="alert alert-success alert-block fade in">
                      <button data-dismiss="alert" class="close close-sm" type="button">
                          <i class="icon-remove"></i>
                      </button>
                      <h4>
                          <i class="icon-ok-sign"></i>
                          Success!
                      </h4>
                      <p>Best check yo self, you're not looking too good...</p>
                  </div>
                  <div class="alert alert-block alert-danger fade in">
                      <button data-dismiss="alert" class="close close-sm" type="button">
                          <i class="icon-remove"></i>
                      </button>
                      <strong>Oh snap!</strong> Change a few things up and try submitting again.
                  </div>
                  <div class="alert alert-success fade in">
                      <button data-dismiss="alert" class="close close-sm" type="button">
                          <i class="icon-remove"></i>
                      </button>
                      <strong>Well done!</strong> You successfully read this important alert message.
                  </div>
                  <div class="alert alert-info fade in">
                      <button data-dismiss="alert" class="close close-sm" type="button">
                          <i class="icon-remove"></i>
                      </button>
                      <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                  </div>
                  <div class="alert alert-warning fade in">
                      <button data-dismiss="alert" class="close close-sm" type="button">
                          <i class="icon-remove"></i>
                      </button>
                      <strong>Warning!</strong> Best check yo self, you're not looking too good.
                  </div>

                </div>
            </section>
            <!--notification end-->


        </div>
    </div>
  <!-- 正文结束 -->
</block>