<extend name="Base/common"/>
<block name="main">
  <!-- 正文开始 -->
    <div class="row">
        <div class="col-lg-12">
            <!-- 详情开始 -->
            <section class="panel">
                <header class="panel-heading">
                    详情 id:{$_GET['id']}
                </header>
                <div class="panel-body">
                    内容，注意返回按钮   <a href="javascript:history.go(-1)">临时返回</a>   
                </div>
            </section>

            <br>
            <br> 
            <br>

            <!-- 详情结束 -->
        </div>
    </div>
  <!-- 正文结束 -->
</block>